:root {
  --main-color-text: #2e2f42;
  --second-color-text: #434455;
  --main-color-backgrond-dark:#2e2f42;
  --second-color-background-dark:#434455;

  --main-color-background-light:#FFFFFF;
  --second-color-background-light:#F4F4FD;
  --color-focus-hover:#404BBF;
  --color-logo-button:#4D5AE5;
}
body {
  font-family: "Roboto", sans-serif;
  color:var(--main-color-text);
  background-color: var(--main-color-background-light);
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*=================================================MAIN PAGE=============================================*/

/* ==================HEADER================*/
.header {
}
.header-navigation {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-button);
}
.header-logo-second {
  color: var(--main-color-text);
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}
.header-link:hover,
.header-link:focus{
  color: var(--color-focus-hover);
}

.adress{
  font-style: normal;
}

.header-link-adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}
.header-link-adress:hover,
.header-link-adress:focus{
  color:var(--color-focus-hover);
}

/* ==================FOOTER================*/
.footer {
  background: var(--main-color-backgrond-dark);
}
.footer-logo-second {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--second-color-background-light);
}
.footer-link {
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-background-light);
}

/*-------------------HERO-------------*/
.hero {
  background: var(--main-color-text);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-color-background-light);
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--main-color-background-light);
  background:var(--color-logo-button);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus{background-color:var(--color-focus-hover);}

/*-------------------BASIS-------------*/
.basis {
}
.basis-title-hidden {
}
.basis-list {
}
.basis-item {
}
.basis-mini-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}
.basis-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}

/*-------------------WORK-------------*/
.work {
}
.work-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--main-color-text);
}
.work-list {
}
.work-item {
}
.work-img {
}

/*-------------------TEAM-------------*/
.team {
  background-color:var(--second-color-background-light);
}
.team-main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--main-color-text);
  background-color: var(--main-color-background-light);
}
.team-list {
  background-color:var(--main-color-background-light);
}
.team-item {
  background-color:var(--main-color-background-light);
}
.team-img {
  background-color:var(--main-color-background-light);
}
.team-second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  background-color:var(--main-color-bacground-light);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  background-color:var(--main-color-background-light);
}

/*=================================================PORTFOLIO=============================================*/
/*---------------------Control Panel------------*/
.control-panel {
}
.control-panel-title {
}
.control-panel-list {
}
.control-panel-item {
}
.control-panel-buttom {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--color-logo-button);
  background: var(--second-color-background-light);
  cursor:pointer;
}
.control-panel-buttom:hover,
.control-panel-buttom:focus {
  background:var(--color-focus-hover);
  color:var(--main-color-background-light);
}

/*----------------------Gallery------------------*/
.gallery {
}
.gallery-list {
}
.gallery-item {
}
.gallery-img {
}
.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
}
